#lens{
    height : 30px;
    width : 150px;
}

h4{
    color: red;}

#Mobilenet{
    background-color: blue ;
    width: 25%;
}  



#eg_1{
    float: left;
    height: 500px;
    width: 450px;
}

#eg1{
    background-color: grey;
}

h5{
    background-color: grey;
}

ol{
    background-color: grey;
    height: 500px;
    color: white;
}